### HTML5 ###
# Template for HTML5 projects

## Derived B.S.
.DS_Store

## Dump Folder
_dump/

## Extras
_extras/

## Special Files
*.sublime-build

## Tests
*-test-[0-9].*

## Stashes
**/*-{stash-[0-9]}.*
**/*-{stash-[0-9]}

## Development
# stuff ...

## Docs
CHANGECONTROL.md
build/readme
readme.sh
